/*---body---*/
body{
  background-color: #41474c;
}
.container-fluid{
  color:white;
  background-color:#484e54;

}

/*---header---*/

#boxAnimation{
  margin-top:50px;
  position:relative;
  width:100%;
  background-color:#242627;
  height: 75vh;
}

#boxAnimation h2{
  margin-top:80px;
}


/*  Navigation
----------------------*/
/*style*/


/*  Projects
----------------------*/
.card{
  margin-bottom: 25px;
}

/*  Something
----------------------*/


.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1px;
  height: 50vh;
}

.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 12vh;
  margin:0 auto;
  transform-origin: 50% 100%;
  background: white;
}
