/*  Body
----------------------*/
body{
  background-color: #343a40;
}
.container-fluid{
  color:white;
  background-color:#484e54;

}


/*  Navigation
----------------------*/
/*style*/


/*  Projects
----------------------*/
.card{
  margin-bottom: 25px;
}

/*  Something
----------------------*/
